[Desktop Entry]
Encoding=UTF-8
Name=Indocoin
Comment=Indocoin P2P Cryptocurrency
Comment[fr]=Indocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Indocoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/indocoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/indocoin128.png
MimeType=x-scheme-handler/indocoin;
Categories=Office;
