src/*.exe
src/kratom
src/kratomd
src/test_kratom
release
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.kratom

libs
*.dll

# Compilation and Qt preprocessor part
*.qm
Makefile
Makefile.Debug
Makefile.Release
object_script.kratom-qt.Debug
object_script.kratom-qt.Release
kratom-qt
Kratom-Qt.app

# Unit-tests
Makefile.test
kratom-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows specific
Thumbs.db

!src/leveldb*/Makefile
